.idea
target
out
*.class
*.iml
web/node_modules
nginx-1.20.2/nginx.exe
nginx-1.20.2/temp
nginx-1.20.2/logs
nginx-1.20.2/docs
nginx-1.20.2/contrib
nginx-1.20.2/conf/fastcgi.conf
nginx-1.20.2/conf/fastcgi_params
nginx-1.20.2/conf/koi-utf
nginx-1.20.2/conf/koi-win
nginx-1.20.2/conf/mime.types
nginx-1.20.2/conf/scgi_params
nginx-1.20.2/conf/uwsgi_params
nginx-1.20.2/conf/win-utf

