.idea
target
out
*.class
*.iml
web/node_modules
nginx/nginx.exe
nginx/temp
nginx/logs
nginx/docs
nginx/contrib
nginx/auto
nginx/man
nginx/src
nginx/CHANGES
nginx/CHANGES.ru
nginx/configure
nginx/LICENSE
nginx/README
filesave