<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.xinsin.dao.UserVerifyMapper">
    <select id="userVerify" resultType="java.lang.Integer" parameterType="top.xinsin.pojo.AuthVerificationTokenJwt">
        select `online` from `user` where username = #{username} and id = #{id}
    </select>
</mapper>