.logindiv{
    margin:0 auto;
    border:1px;
    height: 30%;
    width: 30%;
    text-align: center;
}
.loginbutton{
    margin: 0 auto;
    height: 20%;
    width: 20%;

}
body{
	
}
#errorUsername,#errorPassword,#errorCaptcha{
    color: red;
}