<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xinsin.dao.RouteMapper">
    <insert id="insert">
        insert into route (path, name, parentId, component, title, auth, remark, createId, createTime)
        values (#{path}, #{name}, #{parentId}, #{component}, #{title}, #{auth}, #{remark}, #{createId}, now());
    </insert>
    <update id="updateStatusById">
        update route
        set status = #{status}
        where id = #{id};
    </update>
    <update id="updateRouteById">
        update route
        set path      = #{path},
            name=#{name},
            parentId=#{parentId},
            component=#{component},
            title=#{title},
            auth=#{auth},
            remark=#{remark},
            updateId=#{updateId},
            updateTime=now()
        where id = #{id}
    </update>
    <update id="initTable">
        CREATE TABLE IF NOT EXISTS `route`
        (
            `id`         int                                     NOT NULL AUTO_INCREMENT COMMENT '#',
            `path`       varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '路由路径',
            `name`       varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '路由名',
            `parentId`   int                                     DEFAULT NULL COMMENT '父级id',
            `component`  varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '组件路径',
            `title`      varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '标题',
            `auth`       varchar(5) COLLATE utf8mb4_general_ci   NOT NULL COMMENT '权限',
            `status`     int                                     DEFAULT '0' COMMENT '状态',
            `remark`     varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
            `createId`   int                                     DEFAULT NULL COMMENT '创建者id',
            `createTime` datetime                                DEFAULT NULL COMMENT '创建时间',
            `updateId`   int                                     DEFAULT NULL COMMENT '更新者id',
            `updateTime` datetime                                DEFAULT NULL COMMENT '更新时间',
            PRIMARY KEY (`id`)
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 12
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci;
    </update>
    <select id="selectRoute" resultType="top.xinsin.pojo.Route">
        SELECT r1.id,
               r1.path,
               r1.`name`,
               r2.`name` AS parentId,
               r1.component,
               r1.title,
               r1.auth,
               r1.`status`,
            r1.remark,
            r1.createTime,
            r1.updateTime,
            u1.username AS createId,
            u2.username AS updateId
        FROM
            route r1
                LEFT JOIN route r2 ON r2.id = r1.parentId
                LEFT JOIN USER u1 ON u1.id = r1.createId
                LEFT JOIN USER u2 ON u2.id = r1.updateId
        LIMIT #{page},#{pageNum};
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from route;
    </select>
    <select id="SelectRouteByAuth" resultType="top.xinsin.pojo.Vo.RouteVO">
        select r1.id,r1.name,r2.name as parentId,r1.path,r1.component,r1.title from route r1 left join route r2 on r2.id=r1.parentId where r1.auth = #{auth} and r1.status = 0;
    </select>
    <select id="getRouteName" resultType="top.xinsin.pojo.Vo.RouterNameVO">
        select id,name
        from route where status = 0;
    </select>
</mapper>