<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xinsin.dao.UserMapper">
    <insert id="addUser" parameterType="top.xinsin.pojo.User">
        insert into witstalk.user set username = #{username}, password = #{password}, auth = #{auth};
    </insert>

    <update id="changePassword" parameterType="top.xinsin.pojo.User">
        update witstalk.user set password = #{password} where username = #{username};
    </update>

    <select id="canLogin" parameterType="top.xinsin.pojo.User" resultType="top.xinsin.pojo.User">
        select * from witstalk.user where username = #{username} and password = #{password};
    </select>

</mapper>